{% extends "base.html" %}

{% block content %}

<div class="container txt mt-3">
    <div class="row">
        <div class="col-2"></div>

        <div class="col-8">
            <h1>Error</h1>
            <p>Something went wrong! More info:</p>
            <p>{{error}}</p>
        </div>

        <div class="col-2"></div>
    </div>
</div>

<!--Extra Space Block-->
<div class="container">
    <div class="row mt-4 mb-4"></div>
    <div class="row mt-4 mb-4"></div>
    <div class="row mt-4 mb-4"></div>
  </div>
  
  <!--Extra Space Block-->
  <div class="container">
    <div class="row mt-4 mb-4"></div>
    <div class="row mt-4 mb-4"></div>
    <div class="row mt-4 mb-4"></div>
  </div>
  
  <!--Extra Space Block-->
  <div class="container">
    <div class="row mt-4 mb-4"></div>
    <div class="row mt-4 mb-4"></div>
    <div class="row mt-4 mb-4"></div>
  </div>

  <!--Extra Space Block-->
<div class="container">
    <div class="row mt-4 mb-4"></div>
    <div class="row mt-4 mb-4"></div>
    <div class="row mt-4 mb-4"></div>
  </div>
  
  <!--Extra Space Block-->
  <div class="container">
    <div class="row mt-4 mb-4"></div>
    <div class="row mt-4 mb-4"></div>
    <div class="row mt-4 mb-4"></div>
  </div>
  
  <!--Extra Space Block-->
  <div class="container">
    <div class="row mt-4 mb-4"></div>
    <div class="row mt-4 mb-4"></div>
    <div class="row mt-4 mb-4"></div>
  </div>

{% endblock %}