{% extends 'base.html' %}

{% from 'bootstrap5/form.html' import render_form %}

{% block title %}

<title>Skypass | {{ destination.name }}</title>

{% endblock %}

{% block content %}

<link rel="stylesheet" href="../static/style/style.css">

<div class="container blockcolor rounded-2">  
    <div class="row mt-5 mb-3">  
      <div class="col-md-12">  
        <div class="float-left">  
          <h1 class="mt-3 mb-0">{{ destination.name }}</h1>  
          <p class="txt">-Popular Destination-</p>  
        </div>  
 
        <div class="float-right text-right">
          <p class="txt">1 AUD equals</p>  
          <h2 id="exchange-rate" class="txt">0.62 {{ destination.currency }}</h1>  
        </div>  
      </div>  
    </div>  
 
    <!-- Destination --> 
    <div class="row">  
      <div class="col-md-12">  
        <div class="card my-3">  
          <div class="card-body">  

            <div class="container rounded-2">
              <div class="row">
              <div class="col">
                <div class="mb-3">
                    <div class="ratio" style="--bs-aspect-ratio: 50%;">
                    <div class="jumbotronback container-fluid rounded-2" style=
                    "background-image: url('{{ destination.image }}');
                    background-size: cover; max-height: 650px;"></div>
                    </div>
                </div>
                <small class="font-weight-bold text-muted">Stay 2 nights</small>  
                <h2 class="mt-1">{{ destination.name }}</h2>  
                <p>{{ destination.description }}</p>  
                <a href="#" class="btn btn-danger ">Book Now</a>  
              </div>
              </div>
            </div>
          </div>  
        </div>  
      </div>  
    </div>
    <hr>
    <!-- Comments -->  
    <div class="row">  
      <div class="col-md-12">  
        <h2 class="txt">Comments</h1>  
      </div>  
    </div>  

    <div class="row border-bottom rounded-2 txt"> 
      {{ render_form(form,"/destinations/{0}/comment".format(destination.id)) }}
      
      {% for comment in destination.comments %}
      <div class="col-md-12">  
        <b>{{ comment.user.name }} <span class="ml-2 txt-faded">January 2024</span></b>
        <p>{{ comment.text }}</p>  
      </div> 
      {% endfor %} 
    </div>  
  </div> 

{% endblock %}